<!DOCTYPE html>
<html>
<head>
  <title>My Movies</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<nav>
  <a href="/">Movies</a> - <a href="/directors">Directors</a>
</nav>
<hr>
<main>
  <%= yield %>
</main>
</body>
</html>
